<a href="https://colab.research.google.com/github/NijanthArav/nijanth_ning/blob/main/nijanth_spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark py4

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Collecting py4
  Downloading py4-0.0.0.tar.gz (2.2 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: py4
  Building wheel for py4 (setup.py) ... done
  Created wheel for py4: filename=py4-0.0.0-py3-none-any.whl size=2258 sha256=d4f69103f17bdda06e05109949b40bccc03e8c4adecf1e64bf7d3f7333ab1d1d
  Stored in directory: /root/.cache/pip/wheels/e1/da/a2/63d826da36fe30c0e99e46cfb50abd060a5455dba9f322835d
Successfully built py4
Installing collected packages: py4
Successfully installed py4-0.0.0

In [3]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder\
        .master("local")\
        .appName("colab")\
        .getOrCreate()

In [12]:
df = spark.read.csv(r'/content/sample_data/california_housing_test.csv', header=True, inferSchema=True)

In [13]:
df.show(2)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 2 rows

In [14]:
df =spark.read.csv(r'/content/nijanth_data/movies.csv', header=True, inferSchema=True)

In [15]:
df.show(15)

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
+-------+--------------------+--------------------+
only showing top 15 rows